@if (Value is not null)
{
    <li class="list-group-item d-flex justify-content-between align-items-center">
        @Title
        <span class=@("badge " + (Color ? "text-bg-success" : "text-bg-secondary"))>@Value</span>
    </li>
}

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public bool Color { get; set; }
}