@using Flagger.Application.Entities
@using Flagger.Application.Interfaces

@inject IGameService gameService

<div>
    <p class="fs-3 fw-bold text-secondary-emphasis">
        Oh no :(
        <br/>
        That was @game.CurrentStage.Country.Name
    </p>

    <p class="fs-5 mb-5">Your score was @game.Score</p>

    <button type="button" class="btn btn-success col-12 mt-5 mb-3" @onclick="OnNewGame">NEW GAME</button>
</div>

@code {
    [Parameter]
    public Func<Task> OnNewGame { get; set; }

    private Game game;

    protected override void OnInitialized() => this.game = gameService.Get();
}