<div>
    <p class="text-center mb-3 fs-1 fw-bold text-secondary-emphasis">FLAGGER</p>

    <img src="menu.png" alt="drawings of flags" class="img-fluid img-thumbnail" />

    <button type="button" class="btn btn-success col-12 mt-5 mb-3" @onclick="OnStart">START</button>
</div>

@code {
    [Parameter]
    public Func<Task> OnStart { get; set; }
}