@using BlafettisLib
@using Flagger.Application.Entities
@using Flagger.Application.Interfaces
@using Flagger.Components.Pages.Home

@page "/"
@inject IGameService gameService

@if (game is not null)
{
    @if (game.State == GameStateEnum.START)
    {
        <Start OnStart="StartNewGame" />
    }
    @if (game.State == GameStateEnum.GUESS)
    {
        <Guess OnValidation="ShowConfetti" />
    }
    @if (game.State == GameStateEnum.DETAILS)
    {
        <Details OnNext="SetupNextFlag" />
    }
    @if (game.State == GameStateEnum.FINISH)
    {
        <End OnNewGame="StartNewGame" />
    }

    <div class="col-6 offset-6">
        <Blafettis @ref="confetti" />
    </div>
}

@code {
    private Blafettis confetti;
    private Game game;

    protected override void OnInitialized()
    {
        this.game = gameService.Get();
    }

    private async Task StartNewGame()
    {
        this.game = await gameService.Create();
    }

    private void ShowConfetti(bool result)
    {
        if (result)
            confetti.RaiseConfetti();

        StateHasChanged();
    }

    private async Task SetupNextFlag()
    {
        await gameService.SetupFlag().ConfigureAwait(true);
    }
}